/add2Nos.html
/add2Nos.js
/BankingApplication mini project.pdf
/datatypes.html
/date.html
/demo.html
/Demo1.html
/facebook.png
/headphone img.jpg
/img1.jpg
/instagram logo.jpg
/location.html
/locationAssignment.html
/locationAssignment2.html
/login.html
/login.js
/loginForm.html
/obejct.html
/string.html
/test.js
/test1.js
/twitter logo.png
/whatsapp logo.jpg
/youtube logo.png